@{
    ViewData["Title"] = "Daftar Jurusan";
}

<div id="app"></div>
<script>
    var token = `@ViewData["TokenValue"]`;
</script>

<script src=@Url.Content("~/bundle/daftarJurusan/daftarJurusan.js")></script> 