@{
    ViewData["Title"] = "Daftar Kelas";
}
<div id="app"></div>
<script>
    var token = `@ViewData["TokenValue"]`;
</script>

<script src=@Url.Content("~/bundle/daftarKelas/daftarKelas.js")></script> 