@{
    ViewData["Title"] = "Daftar Wali Kelas";
}
<div id="app"></div>
<script>
    var token = `@ViewData["TokenValue"]`;
</script>

<script src=@Url.Content("~/bundle/daftarWaliKelas/daftarWaliKelas.js")></script> 